<div class="rpn" data-t="prof">
    <div class="rpn-h"><h3>Profnastil parametrlari</h3></div>
    <div class="pw">
        <div class="pg2">
            <div class="pgl">Ishlab chiqaruvchi davlat</div>
            <!-- Eski statik tugmalar o'rniga bo'sh konteyner -->
            <div class="pps" id="pt-cn">
                <span class="pp-loading">Yuklanmoqda...</span>
            </div>
        </div>
        <div class="pg2">
            <div class="pgl">Turi</div>
            <div class="pps" id="pt-type">
                <span class="pp-loading">Yuklanmoqda...</span>
            </div>
        </div>
        <div class="pg2">
            <div class="pgl">Qalinligi (mm)</div>
            <div class="pps" id="pt-th">
                <span class="pp-loading">Yuklanmoqda...</span>
            </div>
        </div>

    </div>
</div>
